<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- carga los metodos css, js etc.. de la carpeta static -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'Base/css/index_css.css' %}" type="text/css">
    <link rel="icon" href="{% static 'Base/img/logo.png' %}" type="image/png">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'Base/Js/index_js.js' %}"></script>
    <script type="text/javascript" src="{% static 'Base/Js/jssor.slider-27.5.0.min.js' %}"></script>

    {% block title %}
    <title>Usuario</title>
    {% endblock %}
</head>

<body>

        <header class="header">
                <div class="container logo-nav-container">
        
                    <div class="logo"><a href="/usuarios/"><img src="{% static 'Base/img/logo.png' %}" onsub width="60" height="60"></a></div>
                    <nav class="navigation">
                        <ul>
                                <li><a href="/perfil/">Perfil</a></li>
                                <li><a href="/reservas/">Reservas</a></li> 
                                <li><a href="/recomendaciones/">Recomendaciones</a></li>
                        </ul>
                        
                    </nav>
        
                </div>
        
            </header>
    
        <div class="superior"><img src="{% static 'Base/img/top.png' %}" style="border-radius: 3px" width="100%" height="auto"></div>
        <div class="inferior"><img src="{% static 'Base/img/bottom.png' %}" style="border-radius: 3px" width="100%" height="auto"></div>
       
</body>
</html>